<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
    <add key="ENVQA" value="Server = https://deltahrmsqa.deltaintech.com/" />
    <add key="ReportsPath" value="C:\Reports" />
    <add key ="SharePointUrl" value="https://deltaintech2.sharepoint.com/sites/AutomationTestResults/Shared%20Documents/"/>
    <add key="SharePointSite" value ="https://deltaintech2.sharepoint.com/sites/AutomationTestResults"/>
    <!--Email and password needs to be updated before the execution-->
    <add key="SharePointUserName" value ="deltaEmailId"/>
    <add key="SharePointPassword" value ="sharepointpassword"/>
    <!--Email and password needs to be updated before the execution-->
    <add key ="URL" value ="https://deltahrmsqa.deltaintech.com/"/>
    <!--add key="URL" value="https://deltahrmsqa.deltaintech.com/"-->
		<add key="HrmsQaUrl" value="https://deltahrmsqa.deltaintech.com/" />
		<add key="HrmsDevUrl" value="https://deltahrmsdev.deltaintech.com" />
		<add key="Environment" value="ENVQA" />
		<!-- Put 'S' for Sequential mode of execution; 'P' for Parallel mode of execution-->
		<add key="ExecutionMode" value="S" />
		<add key="TestsDLLName" value="DeltaHRMS.Tests.dll" />
		<add key="ScreenShotForPassedSteps" value="No" />
		<add key="MaxDegreeOfParallelism" value="3" />
		<add key="Application" value="DeltaHRMS" />
		<!-- Put 'Chrome' for chrome,'Firefox' for firefox, 'IE' for ie browses. 'BrowserStackiOSSafari' for iOS Mobile and BrowserStackAndroidChrome for Android Mobile. 'AndroidChrome' for local android -->
		<add key="DefaultBrowser" value="Chrome" />
		<add key="Chrome" value="target:local; browser:Chrome" />
		<add key="Firefox" value="target:local; browser:Firefox" />
		<add key="IE" value="target:local; browser:IE" />
		<!-- TestData files : Set value (1) 'UAT' for UAT environment, (2) 'QA' for QA environment-->
		<add key="TestDataFiles" value="QA" />
		<!-- Test Cases : Set value "NO" to load all the test cases, 'YES' for specific test cases from TestcasesToRun.txt file in TestData folder. -->
		<add key="LoadTestCasesFromExternalFile" value="NO" />
		<!-- Put 'YES' or 'NO'-->
		<add key="SendEmail" value="No" />
		<add key="SendEmailTo" value="sudatha@deltaintech.com; aamiereddy@deltaintech.com; skomma@deltaintech.com; vkotha@deltaintech.com;" />
    <add key="SendEmailCC" value="psiddenki@deltaintech.com; curao@deltaintech.com" />
    <!--Email and password needs to be updated before the execution-->
		<add key="SendMailFrom" value="deltaemailid" />
		<add key="EmailEncryptedPassword" value="deltaemailPassword" />
    <!--Email and password needs to be updated before the execution-->
		<add key="ClientSettingsProvider.ServiceUri" value="a" />

	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Spire.Pdf" publicKeyToken="663f351905198cb3" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.1.8.2046" newVersion="6.1.8.2046" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>