<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ENVQA" value="Server = https://deltahrmsqa.deltaintech.com/" />
    <add key="ReportsPath" value="C:\Reports" />
    <add key ="SharePointUrl" value="https://deltaintech2.sharepoint.com/sites/AutomationTestResults/Shared%20Documents/"/>
    <add key="SharePointSite" value ="https://deltaintech2.sharepoint.com/sites/AutomationTestResults"/>
    <add key="SharePointUserName" value ="aamiereddy@deltaintech.in"/>
    <add key="SharePointPassword" value ="UmVkZHlzQDEyMw=="/>
    <add key="URL" value="https://deltahrmsqa.deltaintech.com/" />
    <add key="HrmsQaUrl" value="https://deltahrmsqa.deltaintech.com/" />
    <add key="HrmsDevUrl" value="Https://deltahrmsdev.deltaintech.com" />
    <add key="Environment" value="ENVQA" />
    <!-- Put 'S' for Sequential mode of execution; 'P' for Parallel mode of execution-->
    <add key="ExecutionMode" value="S" />
    <add key="TestsDLLName" value="DeltaHRMS.Tests.dll" />
    <add key="ScreenShotForPassedSteps" value="No" />
    <add key="MaxDegreeOfParallelism" value="3" />
    <add key="Application" value="DeltaHRMS" />
    <!-- Put 'Chrome' for chrome,'Firefox' for firefox, 'IE' for ie browses. 'BrowserStackiOSSafari' for iOS Mobile and BrowserStackAndroidChrome for Android Mobile. 'AndroidChrome' for local android -->
    <add key="DefaultBrowser" value="Chrome" />
    <add key="Chrome" value="target:local; browser:Chrome" />
    <add key="Firefox" value="target:local; browser:Firefox" />
    <add key="IE" value="target:local; browser:IE" />
    <!-- TestData files : Set value (1) 'UAT' for UAT environment, (2) 'QA' for QA environment-->
    <add key="TestDataFiles" value="QA" />
    <!-- Test Cases : Set value "NO" to load all the test cases, 'YES' for specific test cases from TestcasesToRun.txt file in TestData folder. -->
    <add key="LoadTestCasesFromExternalFile" value="NO" />
    <!-- Put 'YES' or 'NO'-->
    <add key="SendEmail" value="Yes" />
    <add key="SendEmailTo" value="sudatha@deltaintech.com; aamiereddy@deltaintech.com; skomma@deltaintech.com; vkotha@deltaintech.com;" />
    <add key="SendEmailCC" value="psiddenki@deltaintech.com" />
    <add key="SendMailFrom" value="aamiereddy@deltaintech.com" />
    <add key="EmailEncryptedPassword" value="QjVVJW5nbTY=" />
    <add key="ClientSettingsProvider.ServiceUri" value="a" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Spire.Pdf" publicKeyToken="663f351905198cb3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.8.2046" newVersion="6.1.8.2046" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>